Repository microsoft/helium, pull requests merged in 2019-05, with the labels that each got.

#134 Adding to integration tests for actors endpoint
  src/app/controllers/actor.ts
  src/app/controllers/movie.ts
  src/app/tests/actor.integration.ts
  src/app/tests/genre.integration.ts
  src/app/tests/movie.integration.ts
  src/utilities/numberUtilities.ts
Labels: Tests

#198 movie deletion
  src/app/controllers/movie.ts
  src/app/tests/movie.integration.ts
  src/db/cosmosdbprovider.ts
  src/db/idatabaseprovider.ts
Labels: ref-app

#204 apiDoc not implementing this correctly
  src/app/controllers/actor.ts
  src/app/controllers/movie.ts
Labels: bug
